.navbar {
    background-color: #f4f3f3;
    padding: 20px;
}

.navbar-ul {
    background-color: #f4f3f3;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.navbar-left {
    background-color: #f4f3f3;
    display: flex;
    gap: 50px;
    align-items: center;
    margin-left: 50px;
}

.navbar-link {
    background-color: #f4f3f3;
    text-decoration: none;
    color: black;
}

.active {
    font-weight: bold;
}

.navbar-img {
    display: flex;
    align-items: center;
    width: 40px;
}
.navbar-right{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.navbar-btn {
    padding: 8px;
    background-color: #111727;
    color: white;
    font-size: 14px;
    border-radius: 8px;
    margin-top: 20px;
    text-decoration: none;
}

.menu-navbar {
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.menu-navbar-link {
    display: none;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 18px;
    text-decoration: none;
    border: 1px solid white;
}

#menu-button {
    display: none;
}

.hidden{
    display: none;
}

.menu-active{
    background-color: #111727;
}

@media only screen and (max-width: 768px) {
    .navbar-link {
        display: none;
    }

    .navbar-btn {
        display: none;
    }

    .menu-navbar-link {
        display: block;
    }

    #menu-button {
        display: block;
    }
}